  <% if user_signed_in?%> 
  <h1>Welcome to tracking dashboard web app</h1>
  <fieldset>
  	<span>Not-delivered orders</span>
  	<%= render 'orders/no_orders_delivered'%>
  </fieldset>
  <fieldset>
  	<span>Arriving late</span>
  	<%= render 'orders/packages_late'%>
  </fieldset>
  <%else%>
<div class="login-page">
<h1>Welcome to tracking dashboard web app</h1>
  <div class="form">
      	<% if user_signed_in?%>
      	<% else%>
        <button>
        <%= link_to "Sign In", new_user_session_path%>
        </button>
        <button>
        <%= link_to "Sign Up", new_user_registration_path%>
        </button>
		<%end%>
  </div>
</div>
<%end%>