
table {

	width: 100%;
    font-size:0.95em;
	text-align:center;
	overflow: hidden;
	font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
	color:black;
	border: 1px solid ;
	border-collapse: collapse;
	}

th,
td {
	padding: 5px;
	color: black;
}

thead {
	th {
		background-color: #5BBBF0;
	}
}

tbody {
	tr {
		&:hover {
			background-color: #6BE8F4;
		}
	}
	td {
     	position: relative;
		
	}
}